<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855345356432-4q0k56733dgmeec9g76a6mr20lo88ecq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855345356432-4q0k56733dgmeec9g76a6mr20lo88ecq</string>
	<key>API_KEY</key>
	<string>AIzaSyBuR_DNlMnAi1ZF5y4t4M5AhsWYGsNwm34</string>
	<key>GCM_SENDER_ID</key>
	<string>855345356432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EventApp</string>
	<key>PROJECT_ID</key>
	<string>event-app-98e83</string>
	<key>STORAGE_BUCKET</key>
	<string>event-app-98e83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855345356432:ios:a87171bccb2b9397974215</string>
</dict>
</plist>